@import "/common/css/base";
$baseFont : 40px !default;
$red: #D71345;
$borderColor: #E4E4E4;
@function toRem($px) {
  @return $px / $baseFont * 1rem;
}
@mixin box-sizing($set:border-box) {
  -webkit-box-sizing: $set;
  -moz-box-sizing: $set;
  -ms-box-sizing: $set;
  -o-box-sizing: $set;
  box-sizing: $set;
}

@mixin border-radius($radius:4px) {
  -webkit-border-radius: toRem($radius);
  -moz-border-radius: toRem($radius);
  -ms-border-radius: toRem($radius);
  -o-border-radius: toRem($radius);
  border-radius: toRem($radius);
}

html, body {
  background-color: #F6F6F6;
}

* {
  @include box-sizing();
  outline: none;
}

img {
  width: 100%;
  height: 100%;
  vertical-align: middle;
  border: none;
}

.banner{
  width: 100%;
  height: toRem(320px);
}
.stpassDetail{
  color: #989898;
  font-size: toRem(24px);
  line-height: toRem(33px);
  padding: toRem(24px) toRem(26px);
  background-color: #fff;
  margin-bottom: toRem(40px);
  @include shadow(0,1px,2px,rgba(0,0,0,0.1));
  .row{
    margin-bottom: rem(12px);
    &:last-child{
      margin-bottom: 0;
    }
  }
}
.instruction{
  margin-bottom: toRem(40px);
  @include shadow(0,1px,2px,rgba(0,0,0,0.1));
  .title{
    height: toRem(80px);
    padding: toRem(20px) toRem(26px);
    font-size: toRem(28px);
    color: #737373;
    line-height: toRem(40px);
    border-top: 1px solid #D8D8D8;
    background-color: #F2F2F2;
  }
  .content{
    background-color: #fff;
    font-size: toRem(28px);
    padding: toRem(20px) toRem(26px);
    color: #737373;
    line-height: toRem(40px);
  }
}